<div class="centrifuge-option padding">
		<h3>Extra Options</h3>

		<ul class="list">
			<li class="item item-checkbox">
				<label for="sealed" class="checkbox">
					<input id="sealed" type="checkbox" name="sealed" class="form-control" ng-true-value="1" ng-false-value="0" ng-model="formData.sealed">
				</label>
				Do you require sealed rotor capability?
			</li>

			<li class="item item-checkbox">
				<label for="pcr" class="checkbox">
					<input id="pcr" type="checkbox" name="pcr" class="form-control" ng-true-value="1" ng-false-value="0" ng-model="formData.pcr">
				</label>
				Does your centrifuge need to be able to spin PCR Strips?
			</li>

			<li class="item item-checkbox">
				<label for="hematocrit" class="checkbox">
					<input id="hematocrit" type="checkbox" name="hematocrit" class="form-control" ng-true-value="1" ng-false-value="0" ng-model="formData.hematocrit">
				</label>
				Would you like a Hermatocrit Rotor?
			</li>

		</ul>


<button type="submit" class="button button-block button-energized">Find Your Centrifuge!</button>

</div>
