<ion-view title="Welcome">
	<ion-content padding="true">
		<div class="row row-center">
			<div class="welcome col">
				<div class="banner">
					<img src="img/logo.png">
					<h1>Welcome to the Centrifuge Buying Guide</h1>
				</div>
				<h2>Use this tool to search through all Labnet Centrifuge products.</h2>
				<p>Find the right centrifuge for your purposes based on specifications you select including temperature control, process control, and rotor speed. Our Centrifuge Buying Guide will provide you with a list of all the centrifuges Labnet International offers within the range of selections you make.</p>
				<a ui-sref="form.control" class="button button-block button-energized">
					Get Started
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>

